
html{
font-family: Arial, Helvetica, sans-serif;
color: #27ae60;
}
canvas{
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 31%;
}
body{
    background-color: #2c3e50;
}
h1{
    text-align: center;
    font-weight: bold;
}